<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seniorproject.badger">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BadgerApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/badge_icon_2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profile"
            android:label="Profile" />
        <activity
            android:name=".ViewBadges"
            android:label="View Badges" />
        <activity
            android:name=".FriendSearch"
            android:label="FriendSearch"
            android:parentActivityName=".FriendsList" />
        <activity
            android:name=".BadgeScreen"
            android:label="@string/title_activity_badge" />
        <activity
            android:name=".CreateBadge"
            android:label="@string/title_activity_badge" />
        <activity
            android:name=".GroupList"
            android:label="@string/title_activity_group_list" />
        <activity
            android:name=".GroupHome"
            android:label="@string/title_activity_group_home" />
        <activity
            android:name=".FriendsList"
            android:label="@string/title_activity_friends_list"
            android:parentActivityName=".Profile"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="seniorproject.badger.Profile" />
        </activity>
        <activity
            android:name=".BadgeList"
            android:label="@string/title_activity_badge_list"
            android:parentActivityName=".Profile"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="seniorproject.badger.Profile" />
        </activity>
        <activity
            android:name=".CreateAccount"
            android:label="@string/title_activity_create_account"
            android:parentActivityName=".LoginCredentials"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="seniorproject.badger.LoginCredentials" />
        </activity>
        <activity
            android:name=".LoginCredentials"
            android:label="@string/title_activity_login_credentials"
            android:parentActivityName=".Login"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="seniorproject.badger.Login" />
        </activity>
        <activity
            android:name=".GroupCreate"
            android:label="@string/title_activity_group_create"
            android:theme="@style/AppTheme" />
        <activity android:name=".GroupAdd"></activity>
    </application>

</manifest>